* {
  margin: 0px;
  padding: 0px;
}

body {
  overflow: hidden;
  background-image: url("road.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  position: relative;
  margin: 50px auto;
  margin-left: 60%;
}

.container img {
  width: 200px;
}

.red {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid red;
  border-radius: 50%;
  background-color: black;
  opacity: 0.8;
  top: 25px;
  left: 82px;
  animation: redAnimation 5s linear;
}

.yellow {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid yellow;
  border-radius: 50%;
  background-color: black;
  opacity: 0.8;
  top: 63px;
  left: 82px;
  animation: yellowAnimation 2s linear 5s;
}

.green {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid green;
  border-radius: 50%;
  background-color: black;
  opacity: 0.8;
  top: 101px;
  left: 82px;
  animation: greenAnimation 5s linear 7s;
}

@keyframes redAnimation {
  0% {
    background-color: red;
  }
  50% {
    background-color: red;
  }
  86% {
    background-color: black;
  }
  87% {
    background-color: red;
  }
  89% {
    background-color: black;
  }
  91% {
    background-color: red;
  }
  93% {
    background-color: black;
  }
  95% {
    background-color: red;
  }
  97% {
    background-color: black;
  }
  100% {
    background-color: black;
  }
}

@keyframes yellowAnimation {
  0% {
    background-color: yellow;
  }
  100% {
    background-color: yellow;
  }
}

@keyframes greenAnimation {
  0% {
    background-color: green;
  }
  100% {
    background-color: green;
  }
}

/* ============================================================ */
.car-container {
  position: relative;
  margin: -100px auto;
  margin-left: 3%;
  width: 300px;
  animation: carAnimation 2s linear;
}

.car-container img:first-child {
  position: absolute;
  transform: rotatey(180deg);
}
.div-wheel {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px solid;
  border-radius: 50%;
  animation: wheelAnimation 2s linear;
}
@keyframes wheelAnimation {
  from {
    transform: rotate(0px);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes carAnimation {
  0% {
    transform: translateX(-500px);
  }

  100% {
    transform: translateX(0px);
  }
}

.div-wheel1 {
  top: 100px;
  left: 30px;
}
.div-wheel2 {
  top: 100px;
  left: 270px;
}

.wheel {
  width: 100px;
  animation: wheel 5s linear 7s;
}

@keyframes wheel {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.car {
  animation: car 5s linear 7s;
}

@keyframes car {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(1500px);
  }
}
/* --------------------------------------- */

.boy-gif{
  position: absolute;
  width: 150px;
  top: 220px;
  left: 830px;
  animation: boy 6s linear forwards;
}

@keyframes boy {

0%{
  transform: translatex(0px) translatey(0px);
}
20%{
  transform: translatex(-120px) translatey(0px);
}
100%{
  transform: translatex(-120px) translatey(400px);
  display: none;
}
 
}

