* {
  margin: 0px;
  padding: 0px;
}

body {
  overflow: hidden;
  background-image: url("road.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  position: relative;
  margin: 50px auto;
  margin-left: 60%;
}

.container img {
  width: 200px;
}

.red {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid red;
  border-radius: 50%;
  background-color: black;
  opacity: 0.8;
  top: 25px;
  left: 82px;
  animation: redAnimation 10s linear infinite;
}

@keyframes redAnimation {
  0% {
    background-color: red;
  }
  30% {
    background-color: red;
  }
  31% {
    background-color: black;
  }
  32% {
    background-color: red;
  }
  33% {
    background-color: black;
  }
  34% {
    background-color: red;
  }
  35% {
    background-color: black;
  }
  100% {
    background-color: black;
  }
}

.yellow {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid yellow;
  border-radius: 50%;
  background-color: black;
  opacity: 0.8;
  top: 63px;
  left: 82px;
  animation: yellowAnimation 10s linear infinite;
}

@keyframes yellowAnimation {
  0% {
    background-color: black;
  }
  35% {
    background-color: black;
  }
  36% {
    background-color: yellow;
  }
  55% {
    background-color: yellow;
  }
  56% {
    background-color: black;
  }
  100% {
    background-color: black;
  }
}

.green {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid green;
  border-radius: 50%;
  background-color: black;
  opacity: 0.8;
  top: 101px;
  left: 82px;
  animation: greenAnimation 10s linear infinite;
}



@keyframes greenAnimation {
  0% {
    background-color: black;
  }
  55% {
    background-color: black;
  }
  56% {
    background-color: green;
  }
  100% {
    background-color: green;
  }
}
/* ============================================================ */
.car-container {
  position: relative;
  margin: -100px auto;
  margin-left: 3%;
  width: 300px;
  animation: carAnimation 10s linear infinite;
}

.car-container img:first-child {
  position: absolute;
  transform: rotatey(180deg);
}

@keyframes carAnimation {
  0% {
    transform: translateX(-500px);
  }
  10% {
    transform: translateX(0px);
  }
  60% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(1500px);
  }
}

.wheel1 {
  top: 100px;
  left: 30px;
}
.wheel2 {
  top: 100px;
  left: 270px;
}

.wheel {
  position: absolute;
  width: 100px;
  animation: wheelAnimation 10s linear infinite;
}

@keyframes wheelAnimation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(360deg);
  }
  11% {
    transform: rotate(0deg);
  }
  60%{
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* --------------------------------------- */

.boy-gif {
  position: absolute;
  width: 150px;
  top: 220px;
  left: 830px;
  animation: boy 10s linear forwards infinite;
}

@keyframes boy {
  0% {
    transform: translatex(0px) translatey(0px);
  }
  20% {
    transform: translatex(-120px) translatey(0px);
  }
  100% {
    transform: translatex(-120px) translatey(1400px);
    display: none;
  }
}

